@cb:registry=https://cbdatascience.jfrog.io/cbdatascience/api/npm/cb-node-release/
//cbdatascience.jfrog.io/cbdatascience/api/npm/cb-node-release/:_password=QVA4eVUzVlJudXpKdXB2Mzd3QUNuVzlmbjlF
//cbdatascience.jfrog.io/cbdatascience/api/npm/cb-node-release/:username=sourcingplatformteam
//cbdatascience.jfrog.io/cbdatascience/api/npm/cb-node-release/:email=sourcingplatformteam@cb.com
//cbdatascience.jfrog.io/cbdatascience/api/npm/cb-node-release/:always-auth=true
